@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(/components/avtar.css);

:root {
    --cta-color: #05051a;
    --hover-bg: #8484c7;
    --primary-color: #161617;
    --secondary-color: #441744;
    --success-color: #3c8855;
    --warning-color: #f5c118;
    --error-color: #dc3545;
    --info-color: #5dcaf0;
    --offline-color:#9dbac5;
  }
  
  * {
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
  }
 
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  /* Header start */
  .header {
    background-color: var(--hover-bg);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    box-shadow: 0 3px 10px var(--secondary-color);
  }
  .header-logo {
    color: var(--cta-color);
    font-weight: 900;
  }
  .header-logo span {
    margin-right: 1rem;
  }
  
  .header-links {
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
  }
  
  .header-link {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  /* Header End */


  .main-container {
    display: flex;
    position: relative;
    box-sizing: border-box;
  }
  /* left SideBar start */
  .left-sidebar {
    padding: 2rem;
    position: fixed;
    height: 100vh;
    top: 5rem;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px inset;
  }
  .list-items {
    list-style: none;
    font-size: 1.5rem;
    margin: auto 0rem;
    padding: 0rem;
  }
  .list-item {
    padding-bottom: 1rem;
  }
  a:hover {
    color: var(--cta-color);
    font-weight: bold;
  }
  /* left SideBar end */
  
  /* content start */
  .wrapper {
    position: relative;
    top: 5rem;
    height: 100vh;
    margin-left: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content {
    box-sizing: border-box;
    padding-top: 3rem;
    padding: 1rem;
  }
  
  .brand {
    color: var(--cta-color);
  }
  .content > h1 {
    font-size: 3rem;
    margin: 1rem;
    padding: 2rem;
    font-weight: 700;
    text-align: center;
  }
  p {
    color: var(--secondary-color);
    
  }
  .content > p {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 300;
  }
  .content > p a {
    text-align: center;
    text-decoration: underline;
  }
  /* content end */
  
  /* Container for every component start */
  .container {
    padding: 1rem;
  }
  .inline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
  }
  .code-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
  }
  /* style="width: 766px; height: 502px; border:0; transform: scale(1); overflow:hidden;" */
  iframe{
    width: 766px; 
    height: 502px;
     border:0; 
     transform: scale(1); 
     overflow:hidden
  }


  .status{
      width: 1rem;
      height: 1rem;
      position: absolute;
      background-color:  var(--error-color);
      border-radius: 50%;
      margin-top: -1.4em;
      margin-left: 4.5rem;
  }
   .status-online{
      border: 2px  ;
      background-color: var(--success-color);

  }
  .status-online-offline{
      border: 2px solid var(--primary-color) ;
      background-color: var(--offline-color);

  } 
   
   
  