

.alerttypes{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color:var(--offline-color);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.alert{
    width: 80%;
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}
.alert-danger{

     
    background-color: var( --error-color);
}
.alert-success{

    
    background-color: var(--success-color);
}
.alert-warning{

 
    background-color: var( --warning-color);
}
.alert-info{

   
    background-color: var( --info-color);
}