.avatar-sm img {
    width: 5rem;
    border-radius: 50%;
  }
  .avatar-md img {
    width: 6rem;
    border-radius: 50%;
  }
  .avatar-l img {
    width: 7rem;
    border-radius: 50%;
  }
  .avatar-xl img {
    width: 8rem;
    border-radius: 50%;
  }
  /* .status-online{
    border: 2px solid green;
    background-color: green;

}
.status-online-offline{
    border: 2px solid rgb(15, 17, 15);
    background-color: rgb(200, 214, 200);

} */
  