.avatar-sm img {
    width: 5rem;
    border-radius: 50%;
  }
  .avatar-md img {
    width: 6rem;
    border-radius: 50%;
  }
  .avatar-l img {
    width: 7rem;
    border-radius: 50%;
  }
  .avatar-xl img {
    width: 8rem;
    border-radius: 50%;
  }
  