.txt-badge{
   display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: space-between;
    align-content: center; 
    margin: 1rem 1rem;
    margin-top: 1rem;
    
  }
  .txt-circle-home{
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    background-color: var( --offline-color);
    position: absolute;
    margin: -1rem -1rem;
    border-radius: 50%;
  }
  .txt-circle-home-cart{
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--error-color);
    position: absolute;
    margin: -1rem -1rem;
    border-radius: 50%;

  }
  .txt-circle-home-cart-msg{
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    background-color: var(--success-color);
    position: absolute;
    margin: -1rem -1rem;
    border-radius: 50%;

  }