
 .input{
     width: 80%;
     padding: 10px;
     border-radius: 10px;
  }
.input_bar {
    display: flex;
  
    width: 80%;
    background-color: var(--offline-color);
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
   border-radius: 10px;
   }
   .input-error{
     border-color:var(--error-color);
  }
   .input-warn{
     border-color:var(--warning-color);
  }
   .input-bottom{
    border: none;
    border-bottom-style:solid;
  }
   .input-round{
   border-radius: 10px;
  }
   .input-search{
   border-radius: 10px;
  }