.list{
    width: 20rem;
    border: 1px solid var( --offline-color);
    padding: 20px;
    height: max-content;
  
}
.list,li{
    font-size: 1rem;
    list-style: none;
    margin: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.list-heading > img {
    float: right;
    cursor: pointer;
}
.list,label{
    display:block;
    font-size: 0.95rem;
    list-style: none;
    margin: 1em;
    margin-left:5px;

}
.list > label > input {
    margin-right: 10px;
  
}
