.snackbar-box {
    background-color: var(--cta-color);
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    width: 27rem;
    justify-content: space-between;
    align-items: center;
}

.snackbar-text {
    color: var(--primary-font-colour);
}

.cross {
    color: var(--primary-font-colour);
}

.retry {
    color: var(--primary-font-colour);
}

.snackbar-success{
    background-color:var(--success-color);
    padding: 1rem;
    border-radius: 0.3rem;
    display: flex;
    width: 27rem;
    justify-content: space-between;
    align-items: center;
}

.snack-outerbox{
    padding: 2rem 3rem;
}